<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fb2</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>com.google.ireader.fb2</string>
			<key>CFBundleTypeIconFile</key>
			<string>iReader</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>BookDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>iReader</string>
	<key>CFBundleIconFile</key>
	<string>iReader.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.google.ireader</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>iReader</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>iread</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>FB2 Book</string>
			<key>UTTypeIconFile</key>
			<string>iReader.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.google.ireader.fb2</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.fictionbook.org/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>fb2</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
